<ion-header>
  <ion-toolbar>
    <ion-title>Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <div id="header">
      <img src="assets/icon/UTP.jpg" alt="">
    </div>
    <ion-button expand="block" shape="round">Datos de Usuario</ion-button>
    <ion-button expand="block" shape="round">Evaluaciones Calificadas</ion-button>
    <ion-button expand="block" shape="round">Proyectos Pendientes</ion-button>
  </ion-content> 
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="parrafo">
      <p class="parrafo-1"><a href="">Terminos y Condiciondes</a></p>
    </div>
  </ion-toolbar>
</ion-footer>
