<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/sing">Sing Up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Evaluacion de Programadores</h1>
    <img src="assets/icon/UTP.jpg" alt="">
  </div>
  <form id="form">
    <app-input placeholder="Email" class="redondeado" ></app-input>
    <app-input type="password" placeholder="Password" class="redondeado" ></app-input>
    <ion-button routerLink="/home" expand="block" shape="round">Login</ion-button>
  </form>
</ion-content>
