<ion-header>
  <ion-toolbar>
    <ion-title>Resultados</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/PRUEBA.jpg" alt="">
    </ion-card-header>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/ASD.jpg">
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Vladmir Putin</ion-card-title>
      Edad: 23 Años <br> Puesto: Tecnico Programador<br>
      El desempeño de Vladimir Putin es aceptable, hay puntos que se pueden mejorar 
      con la practica pero su trabajo es decente como programador, su calificacion es de 
      8.5 de promedio.
    </ion-card-content>
  </ion-card>
  <ion-card-content>
    <ion-card-title>Programadores</ion-card-title>
    Gracias por utlizar nuestra app Evaluacion de Programadores
    esto solo fue una demostracion de prueba de la aplicacion,
    si deseas utilizar la version completa esta disponible en la playstore 
    por 60 pesos.
  </ion-card-content>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>©Evaluacion de Programadores</ion-title>
  </ion-toolbar>
</ion-footer>
