ion-card-content{
    text-align: center;
  }
  ion-content{
    --background: url("../../assets/icon/POP.jpg") center center;
}
ion-toolbar{
    background: white;
    background-color: rgb(255, 255, 255);
  }
  ion-footer{
    background: white;
    background-color: rgb(255, 255, 255);
  }
  ion-title {
    text-align: center;
  }