ion-button {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    height: 30px;
    font-size: 13px;
    text-transform: initial;
    border-radius: 10px;
    box-shadow: 1px 8px 8px rgba(0,0,0,0.05);
    --box-shadow: none;
}
ion-chip {
    align-items: center;
}