<ion-header>
  <ion-toolbar>
    <ion-title>Evaluacion de Programadores</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <img src="assets/icon/UTP.jpg">
  </div>
  
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/Programador.jpg" alt="">
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>Programadores</ion-card-title>
      Evaluacion de Programadores es una aplicacion creada para 
      facilitar el trabajo de los teasters y ver el rendimiento 
      de los programadores 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/Medicion.jpg" alt="">
    </ion-card-header>
  
    <ion-card-content>
      Gracias a los conocimientos aprendidos en la materia 
      de Desarrollo Movil conseguimos crear una aplicacion 
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>©Evaluacion de Programadores</ion-title>
  </ion-toolbar>
</ion-footer>
