<ion-header>
  <ion-toolbar>
    <ion-title>Datos de Empleados Fuck Boys</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/ASD.jpg">
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Vladmir Putin</ion-card-title>
      Edad: 23 Años <br> Puesto: Tecnico Programador
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/SD.jpg" alt="">
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Scarlet Johansom</ion-card-title>
      Edad: 26 Años <br> Puesto: Tecnico Programador
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/AQ.jpg" alt="">
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Sonakshi Sinha</ion-card-title>
      Edad: 32 Años <br> Puesto: Tecnico Programador
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>©Evaluacion de Programadores</ion-title>
  </ion-toolbar>
</ion-footer>

